<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47081019038-u9jc3c4hrm8pk2i9ijjh89j0qkb769mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47081019038-u9jc3c4hrm8pk2i9ijjh89j0qkb769mc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYYgRX_ZCm5ceMP1z_SKGlITdEilmgHO0</string>
	<key>GCM_SENDER_ID</key>
	<string>47081019038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swift-tutorial.BlogApp</string>
	<key>PROJECT_ID</key>
	<string>bloggingapp-d420d</string>
	<key>STORAGE_BUCKET</key>
	<string>bloggingapp-d420d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47081019038:ios:f03a46793e2e95029a8d8f</string>
</dict>
</plist>